<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VILOCK</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!-- icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- favicon -->
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../public/images/favicon.ico" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <style>
        body,
        html {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }

        .fixed {
            position: fixed
        }

        .nav-wrapper {
            padding: 2px;
            background-color: #353866;
        }

        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .m-left {
            width: 16.6666666667%;
            margin-top: 80px;
            border-right: 1px solid black;
        }

        .main {
            display: flex;
            width: 100%;
            height: 1000px;
        }

        #weather {
            pointer-events: none;
            width: 80%;
            margin: auto
        }

        #today-date {
            text-align: center;
            font-size: 14px;

        }

        .Info {
            font-size: 16px;
            font-weight: bold;
            padding-top: 10px;
            color: black;
        }

        .view-more {
            background-color: #353866;
            color: white;
            height: 80px
        }

        .view:hover,
        .del:hover {
            cursor: pointer;
        }

        #source {
            font-size: 12px;
            font-weight: normal;
        }

        .btn,
        .etc {
            background-color: #AAABD3;
            font-weight: bold;
        }

        .btn:hover,
        .btn:active {
            background-color: #AAABD3;
        }


        .check-img {
            height: 200px;
            width: 80%;
            margin: 0 auto 50px;
            padding: 5px;
            border: 2px solid #353866;
        }


        #time {
            font-size: 20px;
            text-align: center;
        }

        .footer {
            height: 150px;
            border-top: 1px solid black;
            text-align: center;
            padding: 40px
        }

        #video {
            width: 80%;
            border: 1px solid black;
            height: 400px;
            text-align: center;
            margin: auto;
            margin-bottom: 50px;
            margin-top: 50px;
        }

        .m-right {
            margin-top: 80px
        }

        .greet {
            width: 80%;
            margin: auto;
            text-align: center;
            margin-bottom: 50px;
        }

        .open-switch {
            text-align: center;
            width: 80%;
            margin: 50px auto;
        }

        #open-btn {
            padding: 10;
            background-color: white;
            border-style: none;
        }

        #t-tem {
            color: white;
            font-size: 15px;
        }

        .stop {
            height: 150px;
            width: 80%;
            margin: auto;
            text-align: center;
            margin-top: 50px;
            margin-bottom: 100px;
        }

        #face {
            border-radius: 80%;
            border: 1px solid black;
            width: 55px;
            height: 55px;
            cursor: pointer;
        }

        .filebox label {
            display: inline-block;
            text-align: center;
            color: black;
            font-size: inherit;
            background-color: white;
            cursor: pointer;
            border: 1px solid #ebebeb;
            padding: 0 15px;
            width: 100px;
            height: 40px;
            line-height: 40px;
            font-weight: bold;
            font-size: 15px;
        }

        .filebox button {
            padding: 0px 15px;
            height: 40px;
            line-height: 40px;
            font-weight: bold;
        }

        .filebox input[type="file"] {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: bold;
            font-size: 15px;
        }

        .filebox form {
            display: flex;
            justify-content: center
        }

        .profile {
            background-color: #AAABD3;
            border: 1px solid #ebebeb;
            padding: 10px;
            width: 70px;
            color: white;
            height: 40px;
            font-weight: bold;
            font-size: 15px;
            cursor: pointer
        }

        .profile:active {
            background-color: #AAABD3;
        }

        #controler {
            background-color: gray;
            opacity: 0.4;
            text-align: center;
            padding: 50px 0 50px 0;
            cursor: pointer;
            margin-top: 20px;
            border-radius: 10%;
        }

        #imcontroler {
            background-color: gray;
            opacity: 0.4;
            width: 80%;
            margin: auto;
            border-radius: 10%;
            padding: 75px 0 75px 0;
            cursor: pointer;
            text-align: center;
            height: 200px;
        }

        #hidepassword,
        #svpassword,
        #mobilesvpassword,
        #originpassword,
        #mobileoriginpassword {
            text-align: center;
        }

        #hidepassword {
            background-repeat: no-repeat;
            text-indent: 15px;
            background-size: 40px;
        }

        .hidepasswordimg {
            background-image: url("../public/images/hidepassword.png")
        }

        #video_src {
            width: 100%;
            border-radius: 10%;
            margin-top: 20px;
            cursor: pointer;
        }

        .modal_child{
            font-size: 30px;
            text-align:center
        }
        .modal{
            width:40%;
            height:80%;
        }
        
        #modal_change{
            border:2px solid #353866;
            width: 70%;
            height:50px;
        }

        #foropen{
            margin-top:20%
        }

        #getattribute{
            border:2px solid #353866;
            background-color: white;
            height:100%;
            width:30%;
            color:black;
            padding:0;
        }

        #imvideo_src {
            border-radius: 10%;
            cursor: pointer;
            width: 80%;
            display: none;
            margin: auto;
            height: 200px
        }

        #imgs {
            overflow-x: scroll;
            height: inherit;
            width: 70vw;
            white-space: nowrap;
            margin: auto
        }

        .none {
            display: none;
        }

        .openlist {
            font-size: 15px;
        }

        #setting {
            padding-right: 10px;
            cursor: pointer;
        }

        #wsNrbtn,
        #stopNrestart {
            height: 40px;
            
        }
        #wsNrbtn{
            padding:0
        }
        
        #stopNrestart{
            margin-right:10px
        }

        #chart {
            width: 80%;
            margin: auto;
            margin-bottom: 50px;
        }

        #label{
            font-size:15px;
            margin-bottom:10px
        }

        #tocpw{
            background-color: #353866;
            font-weight: bold;

        }
    </style>
</head>

<body>
    <!-- 타이틀 -->
    <% if(idx) { %>
        <script>
            alert('비밀번호를 변경해주세요')
            setTimeout(() => {
                window.location.href = 'http://192.168.0.24:3000/changepw'
            }, 1000);
        </script>
    <% } %>    
    <nav class="fixed" style="z-index:1">
        <div class="nav-wrapper">
            <ul>
                <li><a class="waves-effect waves-light modal-trigger" href="#modal2" style="height:64px">
                        <img alt="profile" id="face" data-target="slide-out" src=uploads/<%= profile %>>
                    </a></li>
                <li><span id="infomation">
                        <label for="">ID_email</label>
                        <%= id %>_<%= address%>
                    </span></li>
                <li>
                    <div id="modal2" class="modal">
                        <div class="modal-content black-text">
                            <div class="modal_child">프로필 사진 변경. <br> 자신의 얼굴 필수</div>
                            <div class="filebox center" style="margin-top:15%">
                                <form action="/profile" method="POST"class='center' enctype="multipart/form-data" style="display:flex;width:70%;margin:auto;height:50px;">
                                    <div id="modal_change"><label for="ex_file" style="float:right; height:100%; background-color: #FADD81;">찾아보기</label></div>
                                    <input type="file" class='waves-effect' id="ex_file" name='profile'
                                        oninput="sendattribute()">
                                    <button type="submit" id="getattribute" class="profile">확인</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/U-ViLock" class="brand-logo center"
                        style="font-family: 'Song Myung', sans-serif;">VILOCK</a></li>
            </ul>
            <ul class='right' id='setting'>
                <li><a id="t-tem"></a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="#modal1"><i
                            class="material-icons nav-content right" id="save-password">settings</i></a></li>
                <li>
                    <div id="modal1" class="modal">
                        <div class="modal-content black-text">
                            <div class="modal_child" id="modal_child_two">도어락 비밀번호 변경</div>
                            <div class="filebox center">
                                <div id="foropen" class="row">
                                    <input type="text" id="originpassword" name="origin" class="input-field col s10 l10" placeholder="기존 비밀번호를 입력해주세요">
                                    <input type="text" id="svpassword" name="foropen" class="input-field col s10 l10" placeholder="숫자 8자를 입력해주세요">
                                    <input type="number" placeholder="기존 비밀번호를 입력해주세요" id="mobileoriginpassword" name="origin" class="input-field col s10 l10 none" max="8" maxlength="7" oninput="maxLengthCheck(this)" >
                                    <input type="number" placeholder="숫자 8자를 입력해주세요" id="mobilesvpassword" name="foropen" class="input-field col s10 l10 none" max="8" maxlength="7" oninput="maxLengthCheck(this)" >
                                    <button class='btn col s2 l2' id='svbtn'>확인</button>
                                </div>
                            </div>
                            <div class="modal_child" id="modal_child_two">계정 비밀번호 변경</div>
                            <div class='center'>
                                <a class="waves-effect waves-light btn-small card-panel input-field" id='tocpw' href="http://192.168.0.24:3000/changepw">이동</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 좌측열 -->
    <div class="m-left hide-on-med-and-down fixed">
        <div style="overflow-y: auto; height:400px">
            <table class="openlist" border="1px solid black">
                <thead>
                    <tr>
                        <td style="text-align:center" colspan="2"><%= new Date().getMonth() + 1 +'월' +new Date().getDate() + '일' %> <br>
                             <span style="color:red; font-size: 11px;">날짜가 지나면 초기화 됩니다. <br> * : 로그인, # : 입장</td>
                    </tr>
                    <tr>
                        <td style="text-align:center">시간</td>
                        <td style="text-align:center">이름</td>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i<hour.length; i++){ %>
                    <tr>
                        <td style='width:60%; text-align:center;'><%= hour[i] %></td>
                        <td style='width:40%; text-align:center;'><span id="user-list-name"><%= name[i] %></span></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        <div id='controler'><i class="large material-icons">play_arrow </i>
        </div>
        <img src="http://192.168.0.24:8091/?action=stream" id="video_src" class="none">
    </div>
    <div class="row main">
            <div class="col l10 m-right s12">
            <div class="open-switch">
                <form action="/open/password" method="POST" id="check-password">
                    <div class="row">
                        <input type="password" id="hidepassword" name="hidepassword" class="input-field col s8 l9"
                            placeholder="비밀번호를 입력하세요">
                        <span class="col s2 l1 input-field"><img src="../public/images/visibility.png" class="view"
                                width="30px" style="float:left"></span>
                        <button type="submit" class='btn col s2 l2' id="passwordidx">열기</button>
                    </div>
                </form>
            </div>
            <table class="check-img">
                <thead class="view-more">
                    <th id="time">24시간동안 무슨일이 있었지? <br> <span style="font-weight: normal; font-size:18px;">최근 →→→→→→→
                            지난시간</span></th>
                </thead>
                <tbody>
                    <td style="width:100%">
                        <div id="imgs">
                            <% for(let i = 0; i<passingpic.length;i++){ %>
                            <img style="width:180px" src=stranger/<%= passingpic[i].filename %>>
                            <% } %>
                        </div>
                    </td>
                </tbody>
            </table>

            <div id='chart'>
                <canvas id="myChart" width="100%" ></canvas>
            </div>
            <div id='imcontroler' class="none"><i class="large material-icons">play_arrow </i>
            </div>
            <img src="http://192.168.0.24:8091/?action=stream" id="imvideo_src" class="none">

            <div class="stop">
                <form action="/open/stopNrestart" method="POST" class="row">
                    <label class="none" id='label'>키패드 잠금여부</label>
                    <img src="../public/images/open1.png" alt="" width="100px" height="100px" id="keys">
                    <div class="none" style="margin:auto; width:60%;">
                        <select name="stopNrestart" id="stopNrestart" class="icons browser-default col s9 l9">
                            <option value="" disabled selected>선택사항</option>
                            <option value="정지" name="정지">정지</option>
                            <option value="재가동" name="재가동">재가동</option>
                        </select>
                        <button type="submit" class='btn class col s3 l3' id="wsNrbtn">확인</button>
                    </div>
                </form>
            </div>
            <!-- 바닥 -->
            <div class="footer">
                당신의 삶을 편리하게! <br>
                스마트 도어락에 관한 모든 문의사항은 송호중학교 3학년 김은교에게 문의주시기 바랍니다. <br>
                Tel : 010 - 4580 - 5306 , Email : vilock2020@gmail.com / eungyo307@naver.com
            </div>
        </div>
    </div>
    <script>
        let infomation
        let idinfo

        function maxLengthCheck(object){ 
            if (object.value.length > object.maxLength){
                object.value = object.value.slice(0, object.maxLength); 
            } 
        }
        let svpassword = document.getElementById('svpassword')
        let mobilesvpassword = document.getElementById('mobilesvpassword')
        let svbtn = document.getElementById('svbtn')
        svbtn.addEventListener('click', ()=>{
            let xhr = new XMLHttpRequest()
            xhr.open('POST','http://192.168.0.24:3000/open/foropen')
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = ()=>{
                if(xhr.status === 200  && xhr.readyState === 4){
                    let available = JSON.parse(xhr.responseText).message
                    avail(available)
                }
            }
            xhr.send(JSON.stringify({
                id:idinfo,
                svpassword : svpassword.value,
                mobilesvpassword : mobilesvpassword.value,
                originpassword : document.getElementById('originpassword').value,
                mobileoriginpassword : document.getElementById('mobileoriginpassword').value
            }))
        })

        function avail(value){
            if(value == '사용불가능'){
                alert('사용불가능합니다.')
            }
            else if(value == '사용가능'){
                alert('변경되었습니다.')
                window.location.href = 'http://192.168.0.24:3000/U-ViLock'
            }
            else if(value == '기존 비밀번호가 틀렸습니다') {
                alert('기존 비밀번호가 틀렸습니다')
                window.location.href = 'http://192.168.0.24:3000/U-ViLock'
            }
        }
        let idNemail = document.getElementById('infomation')
        window.onload = () => {
            weather()
            gettries()
            infomation = idNemail.innerHTML
            idinfo = infomation.split('_')[1].split('>')[1].split(' ')[24]
        }
        function gettries() {
            let xhr = new XMLHttpRequest()
            xhr.open('GET', 'http://192.168.0.24:3000/chart/gettries')
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let tries = JSON.parse(xhr.responseText).sendtoday
                    let wtries = JSON.parse(xhr.responseText).sendweek
                    chart(tries, wtries)
                }
            }
            xhr.send()
        }
        function chart(tries, wtries) {
            
            console.log(tries.t13, tries.t46, tries.t79, tries.t1012, tries.t1315, tries.t1618, tries.t1921, tries.t2224)
            console.log(wtries.w13 ,wtries.w46 ,wtries.w79 ,wtries.w1012 ,wtries.w1315 ,wtries.w1618 ,wtries.w1921 ,wtries.w2224)
            var ctx = document.getElementById("myChart").getContext("2d");

            var myLineChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["1-3시", "4-6시", "7-9시", "10-12시", "13-15시", "16-18시", "19-21시", "22-24시"],
                    datasets: [{
                        label: '접근 횟수',
                        data: [tries.t13, tries.t46, tries.t79, tries.t1012, tries.t1315, tries.t1618, tries.t1921, tries.t2224],
                        backgroundColor: "rgba(170, 171, 211, 1)",
                        pointBackgroundColor: "rgba(53, 56, 102, 1)",
                    },{
                        label : '주간 평균',
                        data : [wtries.w13 ,wtries.w46 ,wtries.w79 ,wtries.w1012 ,wtries.w1315 ,wtries.w1618 ,wtries.w1921 ,wtries.w2224],
                        backgroundColor: "rgba(224,227,218,1)",
                        pointBackgroundColor: "rgba(53, 56, 102, 1)",

                    }],
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
        document.getElementById('hidepassword').addEventListener('click', ()=>{
            let xhr = new XMLHttpRequest()
            xhr.open("POST", "http://192.168.0.24:3000/open/checkcheck")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = ()=>{
                if(xhr.status === 200 && xhr.readyState === 4){
                    let message = JSON.parse(xhr.responseText).message
                    workNstop(message)
                }
            }
            xhr.send(JSON.stringify({
                id: infomation.split('_')[1].split('>')[1].split(' ')[24]
            }))
        })
        
        let isworkNstopworking = true
        function workNstop(value){
            if( isworkNstopworking == false){
                return
            }
            if(value == '가동중'){
                console.log('good')
            }
            else if(value == '정지'){
                let promptvalue = prompt('키패드가 정지되었습니다. 재가동을 원하시면 "네" 그렇지 않으면 "아니요"라고 작성하세요')
                if(promptvalue == '네'){
                    document.querySelector('.stop').scrollIntoView()
                    workkeypad()
                }
                else {
                    isworkNstopworking = false
                    setTimeout(() => {
                        isworkNstopworking = true
                    }, 1000 * 10);
                }
            }
        }

        svpassword.addEventListener("keyup", remove)
        document.getElementById('hidepassword').addEventListener('keyup', remove)

        svpassword.addEventListener('keyup', function () {
            let value = this.value
            if (value.length > 8)
                value = value.substr(0, 8)

            this.value = value
        })

        function remove() {
            let value = this.value;
            console.log(value)
            value = value.replace(/[^\d]/g, "")
            if (value.length > 8)
                value = value.substr(0, 8)
            this.value = value

        }

        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        $(document).ready(function () {
            $('.modal').modal();
        });

        let today_date = document.getElementById("today-date")
        let date = new Date()
        let time = document.getElementById('time')
        let t_tem = document.getElementById('t-tem')
        t_tem.addEventListener('click', () => {
            const toastHTML = '<span>기존은 한국 기상청, 오른쪽 버튼 클릭시 노르웨이 기상청</span><button class="btn-flat toast-action"><a href="https://worldweather.wmo.int/kr/country.html?countryCode=8">연결</a></button>';
            M.toast({ html: toastHTML, classes: 'rounded', displayLength: 2000 });
        })
        t_tem.addEventListener('dblclick', ()=>{
            window.location.href = 'https://www.weather.go.kr/w/index.do'
        })

        function weather() {
            let xhr = new XMLHttpRequest()
            xhr.open('GET',
                'https://api.openweathermap.org/data/2.5/weather?q=Ansan&appid=894ed0de092608f164b8f5e50e7f09d3')
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText)
                    let temp = data.main.temp - 273.15
                    temp = temp.toFixed(1)
                    t_tem.innerHTML = temp + ' ' + '°C'
                }
            }
            xhr.send()
        }

        // 작동 정지 
        let keys = document.getElementById('keys')
        let stopNrestart = document.getElementById('stopNrestart')
        let wsNrbtn = document.getElementById('wsNrbtn')

        wsNrbtn.addEventListener('click', () => {
            if (stopNrestart.value == '정지') {
                alert('키패드가 정지되었습니다. 재가동을 원하실 경우 사이트에서 변경 가능합니다')
            }
            else {
                alert('키패드를 재가동합니다.')
            }
        })

        keys.addEventListener('mouseover', () => {
            M.toast({ html: '키패드를 가동 또는 정지시킬 수 있습니다', displayLength: 1000 })
        })
        keys.addEventListener('click', ()=>{
            workkeypad()
        })
        function workkeypad(){
            keys.classList.add('none')
            document.getElementById('stopNrestart').parentElement.classList.remove('none')
            document.getElementById('stopNrestart').parentElement.style.display = 'flex'
            document.getElementById('label').classList.remove('none')
        }

        let get = document.getElementById('getattribute')
        function sendattribute() {
            get.setAttribute('type', 'submit')
        }



        let video = document.getElementById('video_src')
        let mvideo = document.getElementById('imvideo_src')
        let mcontroler = document.getElementById('imcontroler')
        if (window.innerWidth < 600) {
            document.getElementById('myChart').setAttribute('height', '100')
            mvideo.classList.remove('none')
            mcontroler.classList.remove('none')
            idNemail.classList.add('none')
            document.getElementById('face').style.width = '50px'
            document.getElementById('face').style.height = '50px'
            document.querySelectorAll('.modal')[0].style.width = '85%'
            document.querySelectorAll('.modal')[0].style.height = '50%'
            document.querySelectorAll('.modal')[1].style.width = '85%'
            document.querySelectorAll('.modal')[1].style.height = '50%'
            document.querySelector('.modal_child').style.fontsize = '10px'
            document.getElementById('modal_child_two').style.fontsize = '10px'
            svpassword.classList.add('none')
            document.getElementById('mobilesvpassword').classList.remove('none')
            document.getElementById('foropen').style.marginTop = '10%'
        }

        let controler = document.getElementById('controler')

        controler.addEventListener('click', () => {
            video.classList.remove('none')
            controler.classList.add('none')
            setTimeout(() => {
                video.classList.add('none')
                controler.classList.remove('none')
            }, 1000 * 30);
        })
        video.addEventListener('contextmenu',()=>{
            video.classList.add('none')
            controler.classList.remove('none')
        })
        mcontroler.addEventListener('click', () => {
            mvideo.style.display = 'block'
            mcontroler.classList.add('none')
        })
        video.addEventListener('mouseover', () => {
            M.toast({ html: '더블클릭하면 전체화면으로 보실 수 있습니다, 우클릭 => 정지', classes: 'rounded', displayLength: 1000 })
        })
        mvideo.addEventListener('mouseover', () => {
            M.toast({ html: '더블클릭하면 전체화면으로 보실 수 있습니다', classes: 'rounded', displayLength: 1000 })
        })



        video.addEventListener('dblclick', () => {
            !document.fullscreen ? video.requestFullscreen() : document.exitFullscreen()
        })
        mvideo.addEventListener('dblclick', () => {
            mvideo.requestFullscreen()
            !document.fullscreen ? mvideo.requestFullscreen() : document.exitFullscreen()
        })

        let imgs = document.getElementById('imgs')
        if (imgs.childElementCount < 1 || imgs.childElementCount < 7) {
            imgs.style.overflowX = 'hidden'

        }
        imgs.addEventListener('wheel', (e) => {
            imgs.scrollBy({
                left: e.deltaY * 3,
                behavior: 'smooth'
            })
            e.preventDefault();
        })
        let viewpassword = document.querySelector('.view')
        let delpassword = document.querySelector('.del')
        let hidepassword = document.getElementById('hidepassword')

        hidepassword.addEventListener('keyup', () => {
            let xhr = new XMLHttpRequest()
            xhr.open('POST', 'http://192.168.0.24:3000/open/img')
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = () => {
                if (xhr.status === 200 && xhr.readyState === 4) {
                    let boo = JSON.parse(xhr.responseText)
                    console.log(boo)
                    img(boo)
                }
            }
            xhr.send(JSON.stringify({
                hidepassword: hidepassword.value
            }))
        })
        function img(boo) {
            if (boo.message == "true") {
                hidepassword.classList.add('hidepasswordimg')
            }
            else{
                hidepassword.classList.remove('hidepasswordimg')
            }
        }


        function show() {
            viewpassword.style.display = "block"
        }
        let idx = 0
        viewpassword.addEventListener('click', () => {
            if (idx == 0) {
                hidepassword.removeAttribute('type')
                viewpassword.removeAttribute('src')
                viewpassword.setAttribute('src', '../public/images/invisible.png')
                idx++
            }
            else if (idx == 1) {
                hidepassword.setAttribute('type', 'password')
                viewpassword.removeAttribute('src')
                viewpassword.setAttribute('src', '../public/images/visibility.png')
                idx = 0
            }
        })

        document.getElementById('passwordidx').addEventListener('click', () => {
            if (hidepassword.value.length > 8 || hidepassword.value.length < 8) {
                alert('비밀번호가 틀렸거나, 글자 수가 맞지않습니다')
            }
        })


    </script>
</body>

</html>